body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  background: #111827;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.box {
  padding: 30px;
}

textarea {
  width: 100%;
  height: 120px;
}

svg {
  border: 2px solid black;
}
